In [5]:
import pandas as pd

# IMDB

In [6]:
# From IMDB
episode_count = {
    14: 180,
    15: 180,
    16: 180,
    17: 200,
    18: 200,
    19: 200,
    20: 200,
    21: 175,
    22: 166,
    23: 180,
    24: 81
}

In [8]:
try:
    df_all = pd.read_pickle("../pickles/df_all.pkl")
    
except:
    all_eps = []
    for season in range(14,25):
        for episode in range(1,episode_count[season]+1):
            all_eps.append([season, episode])
    df_all = pd.DataFrame(all_eps, columns=['SeasonNum','EpisodeNum'])
    df_all.to_pickle("../pickles/df_all.pkl")

In [9]:
# Total number of Philo episodes
print("Total Episodes:",df_all.shape[0])

Total Episodes: 1942

In [10]:
# Episodes by Season
df_all.groupby('SeasonNum').count()

           EpisodeNum
SeasonNum
14                180
15                180
16                180
17                200
18                200
19                200
20                200
21                175
22                166
23                180
24                 81

In [11]:
# Sample of Philo episodes
df_all.sample(n=10)

      SeasonNum  EpisodeNum
478          16         119
1890         24          30
1203         20          64
1378         21          39
296          15         117
54           14          55
1116         19         177
212          15          33
433          16          74
1386         21          47