In [4]:
import pandas as pd

# Philo
Saved to DVR on Philo

In [10]:
 def get_philo_df():
    # Page source of full Philo library
    # !!! Make sure the library is fully expanded before extracting source, or else episodes will not be loaded into HTML code
    with open('../data/philo.txt') as f:
        lines = f.readlines()

    # Some new lines exist already but remove these by joining
    text = ' '.join(lines)

    # Split on episode title
    eps = text.split('Family Feud, ')

    # Get only the first x characters which are the actual episode title
    # Exclude first element since this is the "pre-split"
    titles = [ep[:28] for ep in eps[1:]]

    # Split on new element
    titles = [tit.split(">")[0] for tit in titles]

    # Some titles have new lines in them
    titles = [tit.replace("\n  ","") for tit in titles]

    # Some titles are missing a space between "Episode" and number
    titles = [tit.replace("Episode","Episode ") for tit in titles]
    titles = [tit.replace("Episode  ","Episode ") for tit in titles]

    regex = re.compile('[^a-zA-Z0-9, ]')
    titles = [regex.sub('', tit) for tit in titles]

    regex = re.compile('[^0-9,]')
    title_nums = [regex.sub('', tit).split(",") for tit in titles]

    df = pd.DataFrame(title_nums, columns=['SeasonNum','EpisodeNum']).drop_duplicates()
    df = df.astype(int)
    df = df.sort_values(by=['SeasonNum','EpisodeNum']).reset_index(drop=True)
        
    df.to_pickle("../pickles/df_philo.pkl")
    
    return df

In [11]:
try:
    df_philo = pd.read_pickle("../pickles/df_philo.pkl")
except:
    df_philo = get_philo_df()

In [15]:
# Total number of Philo episodes
print("Total Episodes:",df_philo.shape[0])

Total Episodes: 864

In [16]:
# Episodes by Season
df_philo.groupby('SeasonNum').count()

           EpisodeNum
SeasonNum
14                 15
15                 67
16                 96
17                106
18                116
19                143
20                 71
21                124
22                126

In [17]:
# Sample of Philo episodes
df_philo.sample(n=10)

     SeasonNum  EpisodeNum
133         16          93
510         19         168
62          15          92
521         19         179
161         16         164
275         17         192
835         22         108
738         22           2
440         19          69
194         17          29